# Project: Wrangling and Analyze Data

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt 
% matplotlib inline

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [ ]:
#increasing the column width so that the whole text in the 'text' column is visible.
pd.set_option('display.max_colwidth', -1)

In [13]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
twitter_archive.shape

(2356, 17)

In [5]:
twitter_archive.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

In [6]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [ ]:
import requests 
URL = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv" 
response = requests.get(URL)
open("image_predictions.tsv", "wb").write(response.content)

In [7]:
twitter_img_pred = pd.read_csv('image_predictions.tsv', sep = '\t')
twitter_img_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [8]:
twitter_img_pred.img_num.value_counts()

1    1780
2    198
3    66
4    31
Name: img_num, dtype: int64

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [ ]:
import tweepy
from tweepy import OAuthHandler 
import json 
from timeit import default_timer as timer

consumer_key = '' 
consumer_secret = '' 
access_token = '' 
access_secret = '' 
auth = OAuthHandler(consumer_key, consumer_secret) 
auth.set_access_token(access_token, access_secret) 
api = tweepy.API(auth, wait_on_rate_limit=True) 
 
tweet_ids = twitter_img_pred.tweet_id.values 
len(tweet_ids) 

count = 0 
fails_dict = {} 
start = timer() 

with open(tweet_json.txt', 'w') as outfile: 
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit 
    for tweet_id in tweet_ids:
        count += 1 
        print(str(count) + ": " + str(tweet_id)) 
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success") 
            json.dump(tweet._json, outfile) 
            outfile.write('\n') 
        except tweepy.TweepError as e: 
            print("Fail") 
            fails_dict[tweet_id] = e 
            pass 
            end = timer()

In [14]:
import json
with open('tweet-json.txt','r') as file:
    lst = []
    for line in file:
        tweets = json.loads(line)
        #print(type(lin))
        tweet_id = tweets['id']
        retweet_count = tweets['retweet_count']
        favorite_count = tweets['favorite_count']
        created_date = tweets['created_at']
        lst.append(
        {
            'tweet_id': tweet_id,
            'favorite_count': favorite_count, 
            'retweet_count': retweet_count
            }
    )

fav_ret_count =pd.DataFrame(lst)
fav_ret_count

      favorite_count  retweet_count            tweet_id
0     39467           8853           892420643555336193
1     33819           6514           892177421306343426
2     25461           4328           891815181378084864
3     42908           8964           891689557279858688
4     41048           9774           891327558926688256
5     20562           3261           891087950875897856
6     12041           2158           890971913173991426
7     56848           16716          890729181411237888
8     28226           4429           890609185150312448
9     32467           7711           890240255349198849
10    31166           7624           890006608113172480
11    28268           5156           889880896479866881
12    38818           8538           889665388333682689
13    27672           4735           889638837579907072
14    15359           2321           889531135344209921
15    25652           5637           889278841981685760
16    29611           4709           888917238123831296
17    26080           4559           888804989199671297
18    20290           3732           888554962724278272
19    22201           3653           888078434458587136
20    30779           5609           887705289381826560
21    46959           12082          887517139158093824
22    69871           18781          887473957103951883
23    34222           10737          887343217045368832
24    31061           6167           887101392804085760
25    35859           8084           886983233522544640
26    12306           3443           886736880519319552
27    22798           4610           886680336477933568
28    21524           3316           886366144734445568
29    117             4              886267009285017600
...   ...            ..                             ...
2324  459             339            666411507551481857
2325  113             44             666407126856765440
2326  172             92             666396247373291520
2327  194             100            666373753744588802
2328  804             595            666362758909284353
2329  229             77             666353288456101888
2330  307             146            666345417576210432
2331  204             96             666337882303524864
2332  522             368            666293911632134144
2333  152             71             666287406224695296
2334  184             82             666273097616637952
2335  108             37             666268910803644416
2336  14765           6871           666104133288665088
2337  81              16             666102155909144576
2338  164             73             666099513787052032
2339  169             79             666094000022159362
2340  121             47             666082916733198337
2341  335             174            666073100786774016
2342  154             67             666071193221509120
2343  496             232            666063827256086533
2344  115             61             666058600524156928
2345  304             146            666057090499244032
2346  448             261            666055525042405380
2347  1253            879            666051853826850816
2348  136             60             666050758794694657
2349  111             41             666049248165822465
2350  311             147            666044226329800704
2351  128             47             666033412701032449
2352  132             48             666029285002620928
2353  2535            532            666020888022790149

[2354 rows x 3 columns]

df.fav_ret_count.info()

In [ ]:
fav_ret_count.shape

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### Quality issues
1. twitter_archive_copy contains retweets which are not needed. Only the original posts and ratings are required.

2. Several columns in twitter_archive_copy have sparse values in them and will have no usefulness in future analysis. These columns should be dropped in the dataset

3. Some posts do not contain dogs as predicted by image prediction in twitter_img_pred. These should be removed as only post about dogs are needed

4. Some of the columns in twitter_img_pred will not be useful for future analysis and hence should be dropped from the dataset

5. The "rating_denominator" column in twitter_archive integers not equal to 10 which is inconsistent with the denominator(10) used by @WeRateDogs. Value equal to 10 should be examined to fix the error. Also the rating_denominator should be dropped as its not needed in any analysis.

6. Most rating_numerator are between 14 and 10. There are however, ratings higher than 14, these would be visualized to see if there errors to be corrected.

7. The tweet_id in all of the DataFrames should be string or pandas object. It is of no numerical or arithmetical value

8. Only tweet with images are required, hence tweet_id that are not in twitter_img_pred will be dropped from the dataset before they are merged.

### Tidiness issues
1. The column headers; doggo,floofer, pupper, puppo are values not headers and should be merged into a variable. 

2. The "source" column is messy and to be cleaned to show its distinct information.

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [15]:
# Make copies of original pieces of data
twitter_archive_copy = twitter_archive.copy()
twitter_img_pred_copy = twitter_img_pred.copy()
fav_ret_count_copy = fav_ret_count.copy()

### Issue #1: tidiness

#### Define:
The column headers; doggo,floofer, pupper, puppo are values not headers and should be merged into a variable named "dog_stages" and drop the old columns.

#### Code

In [16]:
#create the dog_stages column 
twitter_archive_copy['dog_stages'] = twitter_archive_copy.text.str.extract('(doggo | floofer | pupper | puppo)', expand = True)

In [17]:
twitter_archive_copy.dog_stages.sample(10)

1066    NaN
1338    NaN
596     NaN
1014    NaN
1923    NaN
2117    NaN
1504    NaN
125     NaN
1429     pupper
736      puppo
Name: dog_stages, dtype: object

In [18]:
#The variable have whitespaces that should be removed
twitter_archive_copy.dog_stages = twitter_archive_copy.dog_stages.str.strip()

In [19]:
#drop old columns 
columns = ['doggo', 'floofer', 'pupper', 'puppo']
twitter_archive_copy.drop(columns=columns, inplace = True)

#### Test

In [20]:

twitter_archive_copy.sample(10)
#Whitespaces removed and columns dropped

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stages
1422,698178924120031232,NaN,NaN,2016-02-12 16:16:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Lily. She accidentally dropped all her Kohl's cash overboard. Day officially ruined. 10/10 hang in there pup https://t.co/BJbtCqGwZK,NaN,NaN,NaN,https://twitter.com/dog_rates/status/698178924120031232/photo/1,10,10,Lily,NaN
1641,684122891630342144,NaN,NaN,2016-01-04 21:23:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Heartwarming scene of two pups that want nothing more than to be together. Touching af. Great tongue. Both 11/10 https://t.co/k32mSlRx0j,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684122891630342144/photo/1,11,10,None,NaN
708,785264754247995392,NaN,NaN,2016-10-09 23:44:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Doc. He requested to be carried around like that. 12/10 anything for Doc https://t.co/mWYACm4qnx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785264754247995392/photo/1,12,10,Doc,NaN
1406,699088579889332224,NaN,NaN,2016-02-15 04:31:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Charl. He's a bully. Chucks that dumbbell around like its nothing. Sharp neck. Exceptionally unfluffy. 3/10 https://t.co/VfLoDZecJ7,NaN,NaN,NaN,https://twitter.com/dog_rates/status/699088579889332224/photo/1,3,10,Charl,NaN
1041,743980027717509120,NaN,NaN,2016-06-18 01:33:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Geno. He's a Wrinkled Baklavian Velveeta. Looks sad but that's just the extra skin. 11/10 would smoosh face https://t.co/Kxda28JmQ2,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743980027717509120/photo/1,11,10,Geno,NaN
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896479866881/photo/1,13,10,Bruno,NaN
1705,680836378243002368,NaN,NaN,2015-12-26 19:43:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Ellie. She's secretly ferocious. 12/10 very deadly pupper https://t.co/BF4BW8LUgb,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/680836378243002368/photo/1,https://twitter.com/dog_rates/status/680836378243002368/photo/1,https://twitter.com/dog_rates/status/680836378243002368/photo/1",12,10,Ellie,pupper
1745,679148763231985668,NaN,NaN,2015-12-22 03:57:37 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",I know everyone's excited for Christmas but that doesn't mean you can send in reindeer. We only rate dogs... 8/10 https://t.co/eWjWgbOCYL,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679148763231985668/photo/1,8,10,None,NaN
947,752519690950500352,NaN,NaN,2016-07-11 15:07:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Hopefully this puppo on a swing will help get you through your Monday. 11/10 would push https://t.co/G54yClasz2,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/752519690950500352/photo/1,https://twitter.com/dog_rates/status/752519690950500352/photo/1,https://twitter.com/dog_rates/status/752519690950500352/photo/1",11,10,None,puppo
461,817536400337801217,NaN,NaN,2017-01-07 01:00:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Say hello to Eugene &amp; Patti Melt. No matter how dysfunctional they get, they will never top their owners. Both 12/10 would pet at same time https://t.co/jQUdvtdYMu",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1,https://twitter.com/dog_rates/status/817536400337801217/photo/1",12,10,Eugene,NaN

### Issue #2: tidiness

#### Define
The "source" column is messy and need to be cleaned to show its distinct information such as the platform used to post on twitter.

#### Code

In [21]:
#the source column has only 4 different values, thus assigning each value to a different variable  
replace_str = {
    '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 'Twitter_for_iPhone', 
    '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 'Twitter_web_client', 
    '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>': 'TwitterDeck',
    '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>': 'Vine-Make_a_Scene'
}
twitter_archive_copy.source = twitter_archive_copy.source.replace(replace_str, regex=True)

#### Test

In [22]:
twitter_archive_copy.source.value_counts()

Twitter_for_iPhone    2221
Vine-Make_a_Scene     91
Twitter_web_client    33
TwitterDeck           11
Name: source, dtype: int64

### Issue #3:

#### Define 
twitter_archive_copy contains retweets which are not needed. Only the original posts and ratings are required.

#### Code

In [23]:
twitter_archive_copy = twitter_archive_copy[twitter_archive_copy['retweeted_status_id'].isnull()]

#### Test

In [24]:
twitter_archive_copy.retweeted_status_id.unique()

array([ nan])

### Issue #4:

#### Define
Several columns in twitter_archive_copy have sparse values in them and will have no usefulness in future analysis. These columns should be dropped in the dataset

#### Code

In [25]:
columns  = ['in_reply_to_status_id',
            'in_reply_to_user_id', 
            'retweeted_status_id', 
            'retweeted_status_user_id',
            'retweeted_status_timestamp' ,
            'expanded_urls' ]
twitter_archive_copy.drop(columns=columns, inplace =True)

#### Test

In [26]:
twitter_archive_copy.shape

(2175, 8)

### Issue #5

#### Define
Some posts do not contain dogs as predicted by image prediction in twitter_img_pred_copy. These should be removed as only post about dogs are needed

#### Code

In [27]:
not_true_dogs = twitter_img_pred_copy[twitter_img_pred_copy['p1_dog']== False].index
twitter_img_pred_copy.drop(not_true_dogs, inplace =True)

#### Test

In [28]:
twitter_img_pred_copy.p1_dog.unique()

array([ True], dtype=bool)

### Issue #6:

#### Define
Some of the columns in twitter_img_pred_copy will not be useful for future analysis and hence should be dropped from the dataset

#### Code

In [29]:
columns = ['jpg_url',
           'img_num', 
           'p2',
           'p2_conf', 
           'p2_dog', 
           'p3', 
           'p3_conf',
           'p3_dog', 
           'p1_dog', 
           'p1_conf']
twitter_img_pred_copy.drop(columns =columns,  inplace =True)

In [ ]:
twitter_img_pred_copy.rename(columns = {'p1':'dog_type'}, inplace=True)

#### Test

In [ ]:
twitter_img_pred_copy.columns

### Issue #7:

#### Define

The "rating_denominator" column in df_1 has integers not equal to 10 which is inconsistent with the denominator(10) used by @WeRateDogs.
Value equal to 10 should be examined to fix the error. Also the rating_denominator should be dropped as its not needed in any analysis.

#### Code

In [ ]:
#Visualize the rating_denominator  that are not equal to 10 and examine each
twitter_archive_copy[twitter_archive_copy['rating_denominator']!= 10][['text','rating_numerator', 'rating_denominator' ]]

In [ ]:
#Some of the ratings are for multiple dogs and others not related to dogs, these should be dropped 
#wrong ratings are in some rows and need to be corrected using text of the post as a guide

twitter_archive_copy.loc[2335 , 'rating_denominator']=10
twitter_archive_copy.loc[2335 , 'rating_numerator']=9
twitter_archive_copy.loc[1662 , 'rating_denominator'] = 10
twitter_archive_copy.loc[1662 , 'rating_numerator'] = 10
twitter_archive_copy.loc[1068 , 'rating_denominator'] = 10
twitter_archive_copy.loc[1068 , 'rating_numerator'] = 14
twitter_archive_copy.loc[313, 'rating_denominator'] = 10
twitter_archive_copy.loc[313, 'rating_numerator'] = 13
twitter_archive_copy.loc[1202 , 'rating_denominator']=10
twitter_archive_copy.loc[1202 , 'rating_numerator']=11
twitter_archive_copy.loc[1165 , 'rating_denominator']=10
twitter_archive_copy.loc[1165 , 'rating_numerator']=13

In [ ]:
#Drop rating_denominator as it will be no longer needed
twitter_archive_copy.drop(columns= 'rating_denominator', inplace=True)

#### Test

In [ ]:

twitter_archive_copy.columns

### Issue #8:

#### Define
Most rating_numerator are between 14 and 10. There are however, ratings higher than 14, these would be visualized to see if there errors to be corrected.

#### Code

In [ ]:
twitter_archive_copy[twitter_archive_copy['rating_numerator'] > 15]

In [ ]:
#let's fix the wrong ratings for some of the dogs 
twitter_archive_copy.loc[695, 'rating_numerator'] = 9.75
twitter_archive_copy.loc[763, 'rating_numerator'] = 11.27
twitter_archive_copy.loc[695 , 'rating_numerator'] = 9.75
twitter_archive_copy.loc[1712 , 'rating_numerator'] = 11.26

In [ ]:
#and drop others; for multiple dogs or non_dog posts
drop = twitter_archive_copy[twitter_archive_copy['rating_numerator'] > 15].index 
twitter_archive_copy.drop(drop, inplace=True)

#### Test

In [ ]:
twitter_archive_copy[twitter_archive_copy['rating_numerator'] > 15]

### Issue #9:

### Define
The tweet_id in all of the DataFrames should be string or pandas object. It is of no numerical or arithmetical value

#### Code

In [ ]:
twitter_archive_copy['tweet_id'] = twitter_archive_copy['tweet_id'].astype('str')
twitter_img_pred_copy['tweet_id'] = twitter_img_pred_copy['tweet_id'].astype('str')
fav_ret_count_copy['tweet_id'] = fav_ret_count_copy['tweet_id'].astype('str')

#### Test

In [ ]:
twitter_archive_copy.info()

### Issue #10:

#### Define
Only tweet with images are required, hence tweet_id that are not in df_2 will be dropped from the dataset before they are merged.

#### Code

In [ ]:
twitter_archive_copy['tweet_id'].size == twitter_archive_copy.isin(twitter_img_pred_copy['tweet_id']).sum()['tweet_id']

In [ ]:
#twitter_archive_copy = twitter_archive_copy[twitter_archive_copy['tweet_id'].isin(twitter_img_pred_copy['tweet_id'].unique())]
fav_ret_count_copy = fav_ret_count_copy[fav_ret_count_copy['tweet_id'].isin(twitter_img_pred_copy['tweet_id'].unique())]
twitter_archive = twitter_archive[twitter_archive['tweet_id'].isin(twitter_img_pred_copy['tweet_id'].unique())]

#### Test

In [ ]:
twitter_archive_copy['tweet_id'].size == twitter_archive_copy['tweet_id'].isin(twitter_img_pred_copy['tweet_id']).size

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

In [ ]:
#merge the twitter_archive_copy with the twitter_img_pred_copy 
df_archive_merge = twitter_archive_copy.merge(twitter_img_pred_copy ,on='tweet_id' , how= 'inner')
#merge the df_archive_merge with the fav_ret_count 
twitter_archive_master_csv = df_archive_merge.merge(fav_ret_count_copy, on= 'tweet_id' , how='inner')

In [ ]:
twitter_archive_master_csv.to_csv('twitter_archive_master.csv' , index= False)

In [ ]:
df= pd.read_csv('twitter_archive_master.csv')
df.head()

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1. What is the average rating that dogs gets?
2. Is there correlation between any pair of the numerical variables in the dataset?
3. Is any dog type or breed more likely to have a higher retweets, favorite_count or ratings?

### Insight #1:

In [ ]:
df.rating_numerator.describe()

In [ ]:
df['rating_numerator'].hist()
plt.ylabel('counts')
plt.xlabel('rating_numerator');

### Insight #2:

In [ ]:
df['tweet_id'] = df['tweet_id'].astype('str')
df.corr()

### Insight #3:

In [ ]:
top_dogs = df.groupby('dog_type')['rating_numerator', 'favorite_count'].mean().sort_values(by= 'favorite_count', ascending= False).head(10)
top_dogs

In [ ]:
df['dog_type'].value_counts()[0:10]

### Visualization

In [ ]:
fig = plt.figure() # Create matplotlib figure

ax = fig.add_subplot(111) # Create matplotlib axes 
ax2 = ax.twinx() # Create another axes that shares the same x-axis as ax.

width = 0.4

top_dogs.rating_numerator.plot(kind='bar', color='green', ax=ax, width=width, position=1)
top_dogs.favorite_count.plot(kind='bar', color='blue', ax=ax2, width=width, position=0)

ax.set_ylabel('rating')
ax2.set_ylabel('likes');